################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReactWeb/.vscode
/ReactWeb/React.Data/Migrations
/Geosemantic.Api/bin/Debug/netcoreapp2.1
/Geosemantic.Api/obj
/Geosemantic.Command/obj
/Geosemantic.Common/bin/Debug/netstandard2.0
/Geosemantic.Common/obj
/Geosemantic.Data/bin/Debug/netstandard2.0
/Geosemantic.Data/obj
/Geosemantic.Domain/bin/Debug/netstandard2.0
/Geosemantic.Domain/obj
/Geosemantic.Queries/obj
/Geosemantic.Queries/bin/Debug/netstandard2.0
/Geosemantic.ViewModel/obj
/Geosemantic.ViewModel/bin/Debug/netstandard2.0
/Geosemantic.Command/bin/Debug/netstandard2.0
/Geosemantic.Api/bin/Release/netcoreapp2.1
/Geosemantic.Common/bin/Release/netstandard2.0
/Geosemantic.Command/bin/Release/netstandard2.0
/Geosemantic.Data/bin/Release/netstandard2.0
/Geosemantic.Domain/bin/Release/netstandard2.0
/Geosemantic.Queries/bin/Release/netstandard2.0
/Geosemantic.ViewModel/bin/Release/netstandard2.0
/Geosemantic.Api/logs
/Geosemantic.Client/src/.vs
