################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReactWeb/.vscode
/ReactWeb/React.Data/Migrations
