<div id="newsletter" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

        <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

            <div class="search" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>search</mat-icon>
                <input #myInput placeholder="Search" fxFlex (input)="filterItem(myInput.value)">
            </div>

        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div class="results">
                <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false" *ngFor="let item of filteredItems">
                          <mat-expansion-panel-header>
                            <mat-panel-title fxFlex="100">
                                    <div class="header-title">{{item.source.name}}</div>
                                    <div class="header-sub-title"><span class="name">Published at  </span> {{item.publishedAt}}</div>
                                    <div class="header-sub-title" *ngIf="item.author!=null"><span class="name">Author  </span> {{item.author}}</div>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div>
                                <div class="title blue-800-fg">{{item.title}}</div>
                                <div class="url green-800-fg">{{item.url}}</div>
                                <div class="excerpt">{{item.description}}</div>
                        </div>
                        </mat-expansion-panel>
                      </mat-accordion>
            
        </div>
    </div>
    <!-- / CONTENT -->

</div>
