<div class="dashboard-analytics page-layout blank">
    <div class="main-widget p-24">
        <div class="fuse-card">
            <div class="p-16">
                <div class="h1 font-weight-300">Dash #1</div>
            </div>
            <div class="h-100">
            </div>
            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
            </div>
        </div>

        <div class="fuse-card">
            <div class="p-16">
                <div class="h1 font-weight-300">Dash #2</div>
            </div>
            <div class="h-100">
            </div>
            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
            </div>
        </div>

        <div class="fuse-card">
            <div class="p-16">
                <div class="h1 font-weight-300">Dash #2</div>
            </div>
            <div class="h-100">
            </div>
            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
            </div>
        </div>
    </div>

    <div class="content p-24">

        <div class="left mr-lg-32">

            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

                <!-- Widget 2 -->

                <div class="fuse-card" fxFlex="100">

                    <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <span class="h2">Visitors & Page views</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="green-fg mr-8 cursor-pointer" matTooltip="Refresh">
                                <mat-icon matRipple>refresh</mat-icon>
                            </div>
                            <div class="red-fg mr-8 cursor-pointer" matTooltip="Close">
                                <mat-icon matRipple>close</mat-icon>
                            </div>
                        </div>
                    </div>

                    <div class="position-relative h-368 pb-16">

                    </div>

                </div>

                <!-- / Widget 2 -->
            </div>

        </div>

        <div class="right">

            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxFlex="100">

                <!-- Widget 2 -->

                <div class="fuse-card" fxFlex="100">

                    <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <span class="h2">Visitors & Page views</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            
                        </div>

                    </div>

                    <div class="position-relative h-368 pb-16">

                    </div>

                </div>

                <!-- / Widget 2 -->
            </div>

        </div>

    </div>
</div>