<div id="users" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="top start">
            <div class="title-bar" fxLayout="column" fxLayoutAlign="top start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                <!-- APP TITLE -->
                <div class="logo m-sm-0" fxLayout="row" fxLayoutAlign="start center" fxFlex="25">
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Contacts
                    </span>
                </div>
                <!-- / APP TITLE -->

                <!-- SEARCH -->
                <div class="search-input-wrapper mx-24 m-md-0" fxFlex="25" fxLayout="row" fxLayoutAlign="start center" [@animate]="{value:'*',params:{delay:'200ms',x:'25px'}}">
                    <label for="search" class="mr-8">
                        <mat-icon class="secondary-text">search</mat-icon>
                    </label>
                    <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                        <input id="search" matInput #filter placeholder="Search">
                    </mat-form-field>
                </div>
                <!-- / SEARCH -->
            </div>
            <div class="title-bar button-bar" fxLayout="column" fxLayoutAlign="center start" fxLayout.gt-xs="row"
                fxLayoutAlign.gt-xs="start center">
                <button mat-stroked-button color="primary" [routerLink]="'/contact/0'" class="title-button fuse-white my-12 mt-sm-0" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Add Contact
                </button>

                <button mat-stroked-button color="primary" class="title-button fuse-white my-12 mt-sm-0" [disabled]="isDeleteDisable()" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Delete
                </button>
                <button mat-stroked-button color="primary" class="title-button fuse-white my-12 mt-sm-0" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Import
                </button>
                <button mat-stroked-button color="primary" class="title-button fuse-white my-12 mt-sm-0" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Export
                </button>
                <button mat-stroked-button color="primary" class="title-button fuse-white my-12 mt-sm-0" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    More
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-tab-group (selectedTabChange)="onTabClick($event)">
                <mat-tab label="Connected">
                    <ng-template matTabContent>
                        <mat-table class="users-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                            fusePerfectScrollbar>

                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <mat-header-cell *matHeaderCellDef class="checkbox">
                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="checkbox">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </mat-cell>
                            </ng-container>
                            <!-- Emai Column -->
                            <ng-container matColumnDef="fullName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                <mat-cell *matCellDef="let users">
                                    <p class="text-truncate">{{users.fullName}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Email Column -->
                            <ng-container matColumnDef="emailAddress">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                                <mat-cell *matCellDef="let users">
                                    <p class="text-truncate">{{users.emailAddress}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Mobile Column -->
                            <ng-container matColumnDef="mobileNumber">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile No</mat-header-cell>
                                <mat-cell *matCellDef="let users">
                                    <p class="text-truncate">{{users.mobileNumber}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef class="actions">Actions </mat-header-cell>
                                <mat-cell *matCellDef="let users" class="button-bar actions">
                                    <button mat-icon-button color="accent" [routerLink]="'/contact/'+users.id">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                            <mat-row *matRowDef="let users; columns: displayedColumns;">
                            </mat-row>

                        </mat-table>

                    </ng-template>
                </mat-tab>
                <mat-tab label="Groups">
                    <ng-template matTabContent>

                    </ng-template>
                </mat-tab>

                <mat-tab label="Employees">
                    <ng-template matTabContent>

                    </ng-template>
                </mat-tab>
            </mat-tab-group>
            <mat-paginator *ngIf="tabindex==0" #paginator [length]="dataSource!=null&&dataSource.filteredData.length" [pageIndex]="0"
                [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
            
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>