<div id="chats" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="top start">
            <div class="title-bar" fxLayout="column" fxLayoutAlign="top start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                <!-- APP TITLE -->
                <div class="logo m-sm-0" fxLayout="row" fxLayoutAlign="start center" fxFlex="25">
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Chats
                    </span>
                </div>
                <!-- / APP TITLE -->

                <!-- SEARCH -->
                <div class="search-input-wrapper mx-24 m-md-0" fxFlex="25" fxLayout="row" fxLayoutAlign="start center" [@animate]="{value:'*',params:{delay:'200ms',x:'25px'}}">
                    <label for="search" class="mr-8">
                        <mat-icon class="secondary-text">search</mat-icon>
                    </label>
                    <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                        <input id="search" matInput #filter placeholder="Search">
                    </mat-form-field>
                </div>
                <!-- / SEARCH -->
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>