<div id="underreview" class="page-layout carded fullwidth inner-scroll">
    <div class="content-card">
        <div class="card-header" fxLayout="row" fxLayoutAlign="start center">
        </div>
    </div>
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="column" fxLayoutAlign="center start">
            <div class="title-bar" fxLayout="column" fxLayoutAlign="top start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                <div class="logo my-12 m-sm-0 pt-14" fxLayout="row" fxLayoutAlign="start center">
                        <img  width="250" height="100" src="assets/images/logos/logo.png">
                </div>
            </div>
        </div>
        <div class="content-card">
            <div class="info-content">
                <form novalidate name="form" [formGroup]="form" class="p-24 mr-24" fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto"
                    fusePerfectScrollbar>
                    <div>
                        <mat-card>

                            <mat-card-header>
                                <div mat-card-avatar fxLayout="row" fxLayoutAlign="start center">
                                    <img src="assets/images/avatars/profile.jpg" class="mat-avatar avatar"  fxHide fxShow.gt-sm/>

                                </div>
                                <mat-card-title>
                                    <div class="card-header" fxLayout="row" fxLayoutAlign="center">
                                        <span class="card-text h2" [@animate]="{value:'*',params:{delay:'100ms',x:'250px'}}">
                                            Profile Under Review
                                        </span>
                                    </div>
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                Thank you for registering with us! Your profile is on under review, you will be notified through email once your profile
                                been reviewed
                            </mat-card-content>
                            <div class="button-bar" fxLayout="row" fxLayoutAlign="left center">
                                <button mat-raised-button color="accent" aria-label="LOG IN" (click)="login()">
                                    LOGIN
                                </button>
                            </div>
                        </mat-card>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>