<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Geosemantic.Api.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" >
      <environmentVariables>
        <!--<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />-->
        <!--<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Testing" />-->
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
</configuration>
<!--ProjectGuid: 03d09d5f-31e5-41a3-bb46-ebde366a3e47-->