@import "src/@fuse/scss/fuse";

// :host {

//     .role {

//         .top-bg {
//             @include media-breakpoint-down(xs) {
//                 height: 200px;
//             }
//         }

//         > .center {

//             > .header {

                

//                 .search-input-wrapper {
//                     max-width: 480px;
//                 }

//                 @include media-breakpoint-down(xs) {
//                     margin: 8px 0;
//                     height: 152px !important;
//                     min-height: 152px !important;
//                     max-height: 152px !important;
//                 }
//             }
//         }
//     }
//     .content-card {
//         .info-content{
//             flex: 1 1 auto;
//             max-width: 100%;
//         }
//     }
//     .top-content{
//         height: 80px !important;
//         min-height: 80px !important;
//         max-height: 80px !important;
//     }
//     .card-header{
//         height: 60px;
//         background-color: #eee;
//     }
//     .card-text{
//         margin-left: 15px;
//     }

//     .mat-form-field{
//         margin-left: 15px; 
//     }
//     .user-from-buttons {
//         margin-left: 16px;
//     }

// }

.role-form-dialog {

    // @include media-breakpoint('xs') {
    //     width: 100%;
    // }

    // @include media-breakpoint-up('xs') {
    //     width: 400px;
    // }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}
