<div  class="settings page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="top start">
            <div class="title-bar" fxLayout="column" fxLayoutAlign="top start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                <!-- APP TITLE -->
                <div class="logo m-sm-0" fxLayout="row" fxLayoutAlign="start center" fxFlex="25">
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Settings
                    </span>
                </div>
                <!-- / APP TITLE -->
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>