<div class="organisation" fxLayout="column">

        <div class="organisation-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    
            <div class="organisation-form" fxLayout="column" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
    
                <div class="logo">
                    <img src="assets/images/logos/icon_react_bw_blue_48.png" >
                </div>
    
                <!-- <div class="title">Orignization</div> -->
                <form novalidate name="form" [formGroup]="form" class="p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                        fxFlex="1 0 auto" fusePerfectScrollbar>
                <mat-form-field fxFlex="50">
                <mat-select placeholder="Select Orignization" formControlName="orginizationType" required>
                    <mat-option *ngFor="let orginization of orginizationTypes" [value]="orginization.id" (onSelectionChange)="orginizationChange($event, orginization)">
                        {{orginization.name}} - {{orginization.roleName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </form>

            <button mat-raised-button color="accent" (click)="onLogout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
            </button>
            </div>
    
        </div>
    
    </div>